// html {
//   scroll-behavior: smooth;
//   overflow-x: hidden;
//   margin: 0;
//   margin-top: 0;
// }

body {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

// * {
//   border: red solid 1px;
// }

* {
  font-family: "bd-supper", sans-serif;
}
