header {
  transition: all 1s ease-in-out;

  &.scrollActive {
    background-color: rgb(255, 255, 255, 8%);
    transition: all 1s ease-in-out;
    backdrop-filter: blur(5px);
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.modal-mobile-nav {
  transform: translateY(-100vh);
  transition: all 0.5s ease-in-out;
  &.active {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }
}

.modal-mobile-nav-overlay {
  display: none;
  &.active {
    display: block;

    // media query
    @media (min-width: 1280px) {
      display: none;
    }
  }
}
